*{
	font-family: 'Montserrat', sans-serif;
}

body{
	background-color: #FFFFFF;
}

#logo{
	padding:30px;
	text-align: center;
}

#logo > img {
	width:92%;
}

#topbar > .navbar:after{
	background: linear-gradient(to right, #b7201e 33%,#000000 33%);
	height: 6px;
	width:100%;
}
#bottombar{
	width: 100%;
	border-width: 6px 0 0 0;
	border-style: solid;
	border-color: black;
	margin-top: 30px;
}

@media (max-width: 768px) {
	#topbar > .navbar:after{
		background: linear-gradient(to right, #b7201e 50%,#000000 50%);
	}
}

.icon-bar {
    background-color: black;
}

.navbar * {
	font-size: 18px;
}


@media (min-width: 768px){
	.collapse > .nav{
		position:absolute;
		right: 5%;
		bottom: 20%;
	}
	.navbar * {
		font-size: 28px;
	}
}

.navbar-nav > li > a {
	color:black;
	padding: 15px 20px 15px 20px;
}

.navbar-nav > li .active {
	background-color: #b7201e;
	color: #FFFFFF;
}

.navbar-nav > li .active:hover {
	background-color: #D16463;
	color: #FFFFFF;
}

#p1{
	text-align: center;
}

footer{
	padding: 3% 0 6% 0;
	display: inline-block;
	text-align: center;
}

footer a > img{
	width:100%;
}

.navbar-toggle{
	width: 64px;
	margin: 4%;
}

.navbar-toggle .icon-bar{
	width: 100%;
	height: 5px;
	margin: 20%;
}

#title{
	margin: 50px auto;
	// font-size: 80px;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
}

@media (min-width: 768px){
	#title{
		font-size: 60px;
	}
}

#h1{
	margin-left:10%;
	width: 80%;
	box-shadow: 0 0 4px 1px black;
	margin-bottom: 6%;
}


.container div{
	font-size: 14px;
	line-height: 200%;
}

#p1{
	display:flex;
	align-items: center;
}

#p1 *{
	font-size: 20px
}

#eb1 .eboard_box, #eb1 .eboard_box_pop{
	text-align: center;
	font-size: 20px;
}

#eb1 img{
	width: 100%;
	padding: 5%;
	box-sizing: border-box;
}
/*
#eb1 .descr{
	position: absolute;
	//display: none;
	overflow: hidden;
	height: 0;
	transition: all .2s ease;
}*/

#eb1 .eboard_box{
	position:relative;
}

#eb1 .eboard_box_pop{
	//display: block;
	position:absolute;
	opacity: 0;
	width: 100%;
	height: 160%;
	top: 0;
	left: 0;
	transition: all .2s ease;
}

/*
#eb1 .eboard_box:hover{
	box-shadow: 0 0 10px 0 black;
	background-color: #ffffff;

}*/

#eb1 .eboard_box:hover .eboard_box_pop, #eb1 .eboard_box_pop:hover{
	opacity: 1;
	box-shadow: 0 0 4px 0 black;
	background-color: white;
	z-index: 100;
}